<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>HAKKINDA</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Burada sizlere astroloji ile ilgili rehberlik etmek için bulunuyorum. 
          Astrolojiye olan tutkumla birlikte, 
          hayatınızdaki yıldızların rehberliğiyle size yardımcı olmayı amaçlıyorum.</p>
      </div>
      <div class="col-lg-4">
        <p>Belirli bir süre boyunca astroloji çalışmaları yapmaktayım. 
          Bu süre zarfında birçok kişiye doğum haritaları ve astrolojik analizler konusunda danışmanlık sağladım. 
          Müşterilerime, kişisel özelliklerini ve hayatlarını derinlemesine anlamaları, 
          potansiyellerini keşfetmeleri hakkında daha fazla bilgi edinmeleri için yardımcı olmaktayım.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Yazılarım
        </a>
      </div>
    </div>
  </div>
</section>
